@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --blanco: #fff;
  --nav-color: rgba(247, 247, 247, 0.8);
  --nav-color-secondary: #333336;
  --black: #000000;
  --blue: #2997ff;
  --footer-text-color: #6e6e73;
  --footer-link-color: #424245;
  --footer-pipe-color: #86868b;
  --footer-background-color: #f5f5f7;
  /* Tipografía */
  --tipo-principal: 'Poppins', sans-serif;
  --tipo-secundaria: 'Poppins', sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
      --blanco: #000;
      --nav-color: rgba(255, 255, 255, .8);
      --nav-color-secondary: #333336;
      --black: #fff;
      --blue: #2997ff;
      --footer-text-color: #6e6e73;
      --footer-link-color: #424245;
      --footer-pipe-color: #86868b;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* STYLES */

.index{
  vertical-align: super;
  font-size: 0.5em;
}



/* NAV */
.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-color);
  padding: 0 35%;
}

.nav .nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3em;
  padding: 0 18%;
  background-color: var(--nav-color);
  backdrop-filter: blur(1rem);
}

.nav .nav-menu .menu-component{
  font-size: 0.7rem;
  padding: 0.5rem 0;
  cursor: pointer;
}
.nav .nav-menu .menu-component:hover{
  font-weight:500;
  transition: 0.5s all ease;
}
.nav .nav-menu .buttons-responsive{
  display: flex;
  gap: 2em;
  align-items: center;
}
.nav .nav-menu i{
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
}
.nav .nav-menu i:hover{
  scale: 1.05;
  transition: 0.5s all ease;
}
.nav .nav-menu svg:hover{
  scale: 1.05;
  transition: 0.5s all ease;
}

#equal{
  display: none;
}






/* SHOP NOW */
.shop-now{
  position:relative;
  top: 2em;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  font-size: 0.8em;
  padding: 0.5rem 0;
}
.shop-now .a{
  font-size: 1em;
  color: var(--blue);
  }
.shop-now .a:hover{
  text-decoration: underline;
}

/* MAIN */
.main{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.section{
  width: 100%;
  min-height: 35em;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 1.8rem;
  padding-top: 4em;
  border-top: 5px #fff solid;
  border-bottom: 5px #fff solid;
  
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: top;
}

.section-title{
  font-size: 3.5em;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.section-title-img{
  width: 12rem;
}

.section-subtitle{
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.links-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: -1em;
}

.a-big{
  font-size: 1.3em;
  color: var(--blue);
}

.a-big:hover{
  text-decoration: underline;
}

/* IPHONE 15 PRO */
.iphone15-pro{
  background-image: url(/img/hero_iphone15pro__i70z9oz3hj2i_large.jpg);
  border-top: none;
}

.iphone15-pro .section-title{
  color: var(--blanco);
}

.iphone15-pro .section-subtitle{
  color: var(--blanco);
}

/* IPHONE 15*/
.iphone15{
  background-image: url(/img/hero_iphone15_announce__uuemlcwczn6u_large.jpg);
}

.iphone15 .section-title{
  color: var(--negro);
}

.iphone15 .section-subtitle{
  color: var(--negro);
}

/* APPLE WATCH SERIES 9*/
.watch-series9{
 background-image: url(/img/hero_apple_watch_series_9_order__d0fi9mb84dci_large.jpg);
}

.watch-series9 .section-subtitle{
  color: var(--blanco);
}

/* GRID */
.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.section-small{
  width: 100%;
  height: 37em;
  min-height: 548px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 1rem;
  padding-top: 4em;
  
  background-size: 734 548;
  background-repeat: no-repeat;
  background-position: center;
}
.section-title-grid{
  font-size: 2.5em ;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.section-title-img-grid{
  width: 9rem;
}

.section-subtitle-grid{
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.links-container-small{
  display: flex;
  direction: row;
  gap: 2em;
}

.a-grid{
  font-size: 1em;
  color: var(--blue);
}

.a-grid:hover{
  text-decoration: underline;
}

/* APPLE WATCH */
.apple-watch-ultra{
  background-image: url(/img/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 5px 5px 10px;
}

/* CARBON NEUTRAL */
.carbon{
  background-image: url(/img/promo_carbon_neutral__fmzt9ypcw9e2_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 10px 5px 5px;
}
.carbon .section-subtitle-grid{
  text-align: center;
  line-height: 1.4em;
  margin-bottom: -0.7em;
}

.carbon .section-title-img-grid{
  width: 20rem;
  margin-bottom: -1em;
}

/* SHOP WITH US */
.shop-with{
  background-image: url(/img/promo_shop_iphone__c5oza9nrkf42_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 5px 0px 10px;
}

.shop-with .section-subtitle-grid{
  text-align: center;
  line-height: 1.4em;
}

/* TRADE IN */
.trade{
  background-image: url(/img/promo_iphone_tradein__bugw15ka691e_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 10px 0px 5px;
}

.trade .section-subtitle-grid{
  text-align: center;
  line-height: 1.4em;
}

.trade .index:hover{
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

/* AIRPODS */
.airpods{
  background-image: url(/img/promo_airpods_pro_order__d8xv36p4uwae_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 5px 5px 10px;
  color: var(--blanco);
}

/* APPLE CARD */
.apple-card{
  background-image: url(/img/tile__cauwwcyyn9hy_large.jpg);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 10px 5px 5px;
  color: var(--black);
}

.apple-card .section-title-img-grid{
  width: 7em;
  /* margin-bottom: -1em; */
}

.apple-card .section-subtitle-grid{
  text-align: center;
  line-height: 1.4em;
}

/* SLIDER */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 1250px; 
  height: 680px;
  margin: 0 auto; 
  z-index: -1;
}

.slides {
  display: flex;
  transition: 1s all ease-out;
}

.slides-responsive{
  display: none;
}

.slide {
  width: 100%;
  transition: 2s all ease-out;
}

.slide img {
  width: 100%; /
}

.auto-nav {
  display: none;
}

.manual-navResp{
  display: none;
}

#playpauseResp{
  display: none;
}

.manual-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1em 0;
}

.label-btn {
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--footer-pipe-color);
}

.label-btn.active{
  background-color: var(--footer-link-color);
}

#playpause{
  position: absolute;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
}

/* FOOTER */
.footer{
  width: 100%;
  padding: 0 18% 2% 18%;
  background-color: var(--footer-background-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-text{
  padding: 1em 0;
  border-bottom: 1px solid var(--footer-pipe-color);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer-p{
  font-size: .7rem;
  line-height: 1.2rem;
  color: var(--footer-text-color);

}

.footer-p span{
  text-decoration: underline;
}

.footer-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 1em;
}

.footer-links-menu{
  display: flex;
  flex-direction: column;
}
.footer-title{
  font-size: 0.7em;
  font-weight: 600;
  padding: .9em 0; 
  color: var(--footer-link-color);
}

.footer-links-a a{
  font-size: .7em;
}

.footer-links-a a:hover{
  text-decoration: underline;
}

.p-small1{
  font-size: 0.7em;
  border-bottom: 1px solid var(--footer-pipe-color);
  padding: .5em 0;
}

.footer-end{
  display: flex;
  justify-content: space-between;
  font: .7em;
  padding: .5em 0;
}

.p-small{
  font-size: .7em;
}

.footer-terms{
  display: flex;
  font-size: .7em;
  gap: 1.2em;
  text-align: center;
}

.language{
  font-size: .7em;
}

/* HOVER MENUS */
.hover-big, .hover-normal{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.h2-hover{
  font-size: 1.5em;
  font-weight: 500;
}

.h4-hover{
  font-size: 0.8em;
  font-weight: 500;
  line-height: 0.8em;
}

.hover-first{
  font-size: 0.8em;
  font-weight: 400;
}

.hover-menu{
  display: flex;
  gap: 5em;
  width: 100%;
  padding: 2em 17em;

  background-color: var(--footer-background-color);

  position: absolute;
  z-index: 9999;
  top: 2em;

  opacity: 0;
  transition: opacity 0.5s ease-in;
  pointer-events: none;

}

/* HOVER MENUS */
.store, .mac, .ipad, .iphone, .watch, .ap, .tv, .ent, .acc, .support{
  opacity: 0;
}

.vision{
  display: none;
}

.search, .shop{
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 2em 17em;

  background-color: var(--footer-background-color);

  position: absolute;
  z-index: 9999;
  top: 2em;

  opacity: 0;
  transition: opacity 0.5s ease-in;
  pointer-events: none;
} 

.search input{
  background: none;
  font-size: 2em;
}

.shop h2{
  font-size: 1.5em;
}

.shop a, .shop p a{
  font-size: 0.8rem;
}

.shop p a{
  color: var(--blue);
  text-decoration: underline;
}

/* RESPONSIVE 768 */
@media (max-width: 768px) {
  .nav{
    padding: 0;
    margin-bottom: 1em;
  }

  #equal{
    display: flex;
  }

  .equal{
    display: flex;
    text-align: left;
    width: 100%;
  }

  .equal .hover-normal{
    font-size: xx-large;
    font-weight: 800;
  }

  .nav .nav-menu{
    justify-content: space-between;
    padding: 0 2px;
  }

  .nav .nav-menu i{
    font-size: 1.8em;
  }

  .nav-menu .menu-component{
    display: none;
  }

  .shop-now{
    display: none;
  }

  .nav-menu .responsive-element{
    display: flex;
    justify-content: right;
  }

  .hover-menu{
    top: 3em;
    height: 100vh;
  }

  /* SLIDER */
.slider {
  width: 720px; 
  height: auto;
}
.footer{
  padding: 1em;
}

.footer-links{
  grid-template-columns: 1fr;
  padding-bottom: 0.5em;

}

.footer-links-menu{
  border-bottom: 1px solid var(--footer-link-color);
}

.footer-links-a {
  display: none;
}


.p-small1 {
  border-bottom: none;
}

.footer-end{
  display: flex;
  flex-direction: column-reverse;
}
}

@media (max-width: 425px){

  .iphone15-pro{
    background-image: url(/img/hero_iphone15pro__i70z9oz3hj2i_small.jpg);
  }


.main h1, .grid h1{
  font-size: 2em;
}
.main h2, .grid h2{
  font-size: 1em;
}

.main, .grid{
  gap: 0.5rem;
  line-height: 1rem;
}


.grid{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.slider {
  width: 274px; 
  height: 593px;
}
.slides{
  display: none;
}
.slides-responsive{
  display: flex;
}

#playpauseResp{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.manual-nav{
  display: none;
}

.manual-navResp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1em 0;
}

.label-btnResp {
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--footer-pipe-color);
}

.label-btnResp.active{
  background-color: var(--footer-link-color);
}

.hover-menu{
    padding: 2em 2em;
}
}